.footer {
    color: $irispurple;
    text-align: right;
    margin-right: 1.25rem;
    
    .btntop {
        cursor: pointer;
        border: none;
        width: 3.125rem;
        height: 3.125rem;
        color: $white;
        text-align: center;
        background: $carrot;
        border-radius: 60%;
        animation: pulse 1.6s infinite;

        &:hover {
            animation: none;
        }

        @keyframes pulse {
            0% {
                transform: scale(0.5);
            }
            70% {
                transform: scale(0.9);
                box-shadow: 0 0 0 .375rem #fb953c;
            }
            100% {
                transform: scale(0.7);
                box-shadow: 0 0 0 .625rem #f8c659;
            }
        }
    }  
}
