html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: $font-med;
    font-family: 'Poppins', sans-serif;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $irispurple;
}

li {
    list-style-type: none;
}

//Flexbox 

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-se {
        justify-content: space-evenly;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

//grid 

.grid {
    display: grid;
}

// Visibility 
.hide-for-mobile {
    //hide for mobile 
    @include breakpoint(phone-only) {
        display: none;
    }
}

.hide-for-tablets {
    // hide for tablets
    @include breakpoint(tablets) {
        display: none;
    }
}